.catalog__list {
    list-style: none;
}
.catalog__name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: @blueinfo;
}
.catalog__active {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    color: @blueinfo;
    margin-top: -37px;
    margin-left: 50px;
}
